.sa-icon.sa-error {
  border-color: #D43240;
}

.sa-icon.sa-error::before, .sa-icon.sa-error::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-error::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-error::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-error .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(212, 50, 64, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-error .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-error {
  border-color: transparent\9;
}
.sa-icon.sa-error .sa-line.sa-tip {
  transform: rotate(45deg) \9;
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-error .sa-line.sa-long {
  transform: rotate(45deg) \9;
  -ms-transform: rotate(-45deg) \9;
}

.sa-icon.sa-error .sa-line {
  height: 5px;
  background-color: #D43240;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-error .sa-line.sa-tip {
  width: 50px;
  right: 15px;
  top: 38px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-error .sa-line.sa-long {
  width: 50px;
  right: 15px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
