.form-group input, .form-group textarea {
    width: 100%;
}
.form-group input[type=text] {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
}
.form-group input[type=number]{
    width: auto;
}
textarea{
    height: 200px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.shakethis {
    animation: shake 0.5s;
    border: 1px solid red;
}

@keyframes shake {
    0% { transform: translate(5px, 0px);  border: 1px solid red;}
    20% { transform: translate(-5px, 0px); border: 1px solid red;}
    40% { transform: translate(5px, 0px); border: 1px solid red;}
    60% { transform: translate(-5px, 0px); border: 1px solid red;}
    80% { transform: translate(5px, 0px); border: 1px solid red;}
    100% { transform: translate(0px, 0px); border: 1px solid red;}
}