<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <!--Change this to the production version when you deploy-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="freshdesk_services.js"></script>
    <script src="mavenlink_services.js"></script>
    <script src="components.js"></script>
    <script src="FDHelper.js"></script>
    <script src="main.js"></script>
    <script src="modal.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="modal.css">
    <link rel="stylesheet" type="text/css" href="sending.scss">
    <link rel="stylesheet" type="text/css" href="success.css">
    <link rel="stylesheet" type="text/css" href="error.css">
  </head>
  <body>
    <div id="FDExportContainer">
      <sending-message v-if="messageIsSending"></sending-message>
      <success-message v-if="messageIsSuccessful"></success-message>
      <error-message :exception-message="errorMessage" v-if="errorMessage"></error-message>
      <div v-if="mainContainerShow">
        <div class="container">
          <div class="form-group">
            <dropdown :items="mlProjects" :list-name="'Project'" @optionselected="getTasks($event)"      :before-items-load="'Loading Projects...'"  :default-item="selectedProject"></dropdown>
          </div>
          <div class="form-group">
            <dropdown :items="mlTasks"    :list-name="'Task'"    @optionselected="selectedTask = $event" :before-items-load="'Must Select a Project'" :default-item="{}"></dropdown>
          </div>
          <div class="form-group">
            <label for="txtTaskTitle">Title</label>
            <input id="txtTaskTitle" type="text" v-model="taskTitle"/>
          </div>
          <div class="form-group">
            <label for="txttaskEstimate">Estimate</label>
            <input type="number" class="form-control" id="txttaskEstimate" v-model="taskEstimate">
          </div>
          <div class="form-group">
            <label >Due Date</label>
            <input type="date" class="form-control" v-model="taskDueDate">
          </div>
          <div class="form-group">
            <label for="txtTaskDescription">Description</label>
            <textarea v-model="taskDescription"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="includeConversations" id="chkpushConv">
            <label class="form-check-label" for="chkpushConv">Include Conversations</label>
          </div>
          <br />
          <div class="form-group">
            <button type="button" class="btn btn-success" @click="exportTicket">Send to Mavenlink</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>